//Import the initial variables, override then import remaining bulma modules you want
@import "../node_modules/bulma/sass/utilities/initial-variables";
$primary: #387CA1;
@import "../node_modules/bulma/bulma";


.card {
    padding:40px; 
 }

.nav-area {

}

.setup-area.card {
    .buttons {
        margin-bottom:20px;
    }

    li.is-active a {
        background-color: $primary !important; 
    }

}

.practice-area.card {
    font-size:80px;
    #theanswer {
        border:0px;
        font-size: 80px;
        width: 130px;
        height: 100px;
        border:0px;
        color:rgb(74,74,74);
    }
}
