// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. update variables
$primary: #387CA1;


// 3. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

// 4. the styling
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.practice-area {
    font-size:80px;
    #theanswer {
        border:0px;
    }
}

li.is-active a {
    background-image: linear-gradient(to bottom, #387CA1 0%, #330867 100%);   
}

.button.is-primary {
    background-image: linear-gradient(to bottom, #387CA1 0%, #330867 100%);  
}

.answer {
    font-size: 70px;
    width: 130px;
    height: 100px;
    border:0px;
    color:rgb(74,74,74);
}

.answer:focus {
    outline:none;
}