//Import the initial variables, override then import remaining bulma modules you want
@import "../node_modules/bulma/sass/utilities/initial-variables";
$primary: #387CA1;
@import "../node_modules/bulma/bulma";
$emojiyellow: #FFDD2A;

body {
    min-height:1200px;
    // background: #3a7bd5;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to top, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to top, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.card {
    padding:40px; 
    margin-top:40px;
 }

.nav-area {
    .title {
        color:white;
    }

    .tabs {
        li {
            background:transparent;
            border:transparent;
            a {
                border:transparent;
                color:white;
            }
            &:hover {
                i, a {
                    color:$emojiyellow;
                }
            }
        }

        li.is-active {
            border:1px solid white;
            background: transparent;
            a {
                background: transparent;
            }
            &:hover {
                i, a {
                    color:white;
                }
            }
        }

        li a:hover {
            background: transparent;
        }
    }

    i.fa {
        padding:4px;
    }
}

.setup-area.card {
    .buttons {
        margin-bottom:20px;
    }

    span.is-primary {
        background: linear-gradient(to top, #2a5298, #1e3c72);
    }

}

.practice-area.card {
    font-size:80px;
    #theanswer {
        border:0px;
        font-size: 80px;
        width: 130px;
        height: 100px;
        border:0px;
        color:rgb(74,74,74);
        &:focus{
            outline-width: 0;
        }
    }

    .response {
        font-size:100px;
    }
}

.controls-area {
    margin-top:12px;

    .button {  
        width:28%;
        background-color: transparent;
        border:0px;
        outline-width: 0;
        margin-top:20px;
        color:white;
        &:hover {
            color:$emojiyellow;
        }
    }

    i.fa {
        padding:4px;
        &:hover {
            color:$emojiyellow;
        }
    }
    
    .fa-random {
        position:relative;
        top:2px;
    }
}

.error-area {
    padding-top:12px;
    color:white;
    color:red;
}


