<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Fun Times!</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>

        <section class="section">
            
            <div class="container" id="funtimes">
                
                <div class="columns has-text-centered" >
                    <div class="column is-2 left-sidebar">
                    </div>

                    <div class="column main-column">

                        <nav class="level nav-area">
                            <div class="level-left">
                                <div class="level-item">
                                    <h1 class="title">Fun Times</h1>
                                </div>
                            </div>
                            
                       
                            <div class="level-right">
                                <div class="tabs is-toggle level-item">
                                    <ul>
                                        <li @click="setUp()" :class="{ 'is-active' : mode === 'setup' }">
                                            <a>
                                                <span><i class="fa fa-gear"></i>Setup</span>
                                            </a>
                                        </li>

                                        <li @click="practice()" :class="{ 'is-active' : mode === 'practice' }">
                                            <a>
                                                <span><i class="fa fa-play-circle"></i>Practice</span>
                                            </a>
                                        </li>

                                        <li @click="showInfoModal()">
                                            <a>
                                                <span><i class="fa fa-question-circle"></i>Help</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>     
                        
                        <div v-if="mode === 'setup'" class="setup-area card">
                            <div class="first-factor-selector">
                                <div class="choose-factor-note">Practice multiplying each of these</br></div>
                                <div class="buttons is-centered factor-a has-addons">
                                    <span @click="toggleInSet(0, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(0) > -1 }">0</span>
                                    <span @click="toggleInSet(1, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(1) > -1 }">1</span>
                                    <span @click="toggleInSet(2, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(2) > -1 }">2</span>
                                    <span @click="toggleInSet(3, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(3) > -1 }">3</span>
                                    <span @click="toggleInSet(4, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(4) > -1 }">4</span>
                                    <span @click="toggleInSet(5, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(5) > -1 }">5</span>
                                    <span @click="toggleInSet(6, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(6) > -1 }">6</span>
                                    <span @click="toggleInSet(7, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(7) > -1 }">7</span>
                                    <span @click="toggleInSet(8, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(8) > -1 }">8</span>
                                    <span @click="toggleInSet(9, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(9) > -1 }">9</span>
                                    <span @click="toggleInSet(10, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(10) > -1 }">10</span>
                                    <span @click="toggleInSet(11, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(11) > -1 }">11</span>
                                    <span @click="toggleInSet(12, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(12) > -1 }">12</span>
                                </div>
                            </div>
                                    
                            <div class="second-factor-selector">
                                <div class="choose-factor-note">by each of these</br></div>
                                <div class="buttons is-centered factor-b has-addons">
                                    <span @click="toggleInSet(0, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(0) > -1 }">0</span>
                                    <span @click="toggleInSet(1, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(1) > -1 }">1</span>
                                    <span @click="toggleInSet(2, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(2) > -1 }">2</span>
                                    <span @click="toggleInSet(3, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(3) > -1 }">3</span>
                                    <span @click="toggleInSet(4, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(4) > -1 }">4</span>
                                    <span @click="toggleInSet(5, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(5) > -1 }">5</span>
                                    <span @click="toggleInSet(6, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(6) > -1 }">6</span>
                                    <span @click="toggleInSet(7, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(7) > -1 }">7</span>
                                    <span @click="toggleInSet(8, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(8) > -1 }">8</span>
                                    <span @click="toggleInSet(9, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(9) > -1 }">9</span>
                                    <span @click="toggleInSet(10, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(10) > -1 }">10</span>
                                    <span @click="toggleInSet(11, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(11) > -1 }">11</span>
                                    <span @click="toggleInSet(12, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(12) > -1 }">12</span>
                                </div>
                            </div>  
                            
                            <div class="force-correct-toggle">
                                <input type="checkbox" id="force-correct-box" v-model="forceCorrect">
                                <label id="force-correct-label" for="force-correct-box">Require correct answer to go to next card.</label>
                            </div>
                        </div>
    
                        <div v-if="mode === 'practice'" class="practice-area card">
                            <span class="factor1">{{problems[currProbIndex].factor1}}</span>
                            <span class="times">&times;</span>
                            <span class="factor2">{{problems[currProbIndex].factor2}}</span>  
                            <span class="equals">=</span>
                            <input @keyup="check()" v-model="answer" type="text" class="answer" id="theanswer" placeholder="___"><br>
                            <span class="response">{{responseEmoji}}</span>
                        </div>

                        <div v-if="mode === 'practice'" class="controls controls-area level">
                            <button @click="indexDown()" class="button level-item indexdown is-pulled-left">
                                <i class="fa fa-arrow-left"></i>previous
                            </button>

                            <button @click="shuffle" class="button level-item shuffle">
                                <i class="fa fa-random"></i>shuffle
                            </button>

                            <button @click="indexUp()" class="button level-item indexup is-pulled-right">
                                <i class="fa fa-arrow-right"></i>next
                            </button>
                        </div>

                        <div class="error-area">
                            {{errorMessage}}
                        </div>   
                    </div>

                    <div class="column is-2 right-sidebar">
                    </div>

                    <div class="modal info-area" v-bind:class="{ 'is-active' : modal === 'isShowing' }">
                        <div class="modal-background"></div>
                            <div class="modal-content">
                                <div class="card">
                                    <h3 class="title text-left">For Example:</h3>
                                    <p>To <em>"practice sevens facts up to nine"</em> you would do this:</p><br>
                                    <img width="70%" style="margin:0 auto;" src="sevens.png" alt="an image of the settings">
                                    <br><br>
                                    <p>..then just click on "Practice"</p>
                                </div>
                            </div>
                        <button class="modal-close is-large" @click="hideInfoModal()" aria-label="close"></button>
                    </div>
                </div>     
            </div><!-- end app -->
        </section>
        <script src="funtimes.js" charset="utf-8"></script>
        <footer class="footer">
                <div class="container">
                    <div class="content has-text-centered">
                        <p>
<!--                             <span> <a href="https://twitter.com/joe_bacal"><i class="fa fa-twitter"></i></a></span> -->
                            <span><a href="https://github.com/bacalj/funtimes"><i class="fa fa-github"></i></a></span>
                        </p>
                    </div>
                </div>
            </footer>
    </body>
</html>
