<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Fun Times</title>
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    
    <body>
        <section class="section">
            <div class="container">
                <h1 class="title has-text-centered">Fun Times!</h1>
                <div class="columns" id="funtimes">
                    <div class="column is-2 left-sidebar">
                    </div>

                    <div class="column">
                        <div class="tabs is-toggle is-toggle-rounded"><!-- start tabs -->
                            <ul>
                                <li @click="setUp()" :class="{ 'is-active' : mode === 'setup' }"><a>
                                    <span class="icon"><i class="fa fa-gear"></i></span>
                                    <span>Setup</span>
                                </a></li>
                                <li @click="practice()" :class="{ 'is-active' : mode === 'practice' }"><a>
                                    <span class="icon"><i class="fa fa-play"></i></span>
                                    <span>Practice</span>
                                </a></li>
                            </ul>
                        </div><!--end tabs -->
                        <!-- <transition name="fade"> -->
                            <div v-if="mode === 'setup'" class="setup-area">
                                <div class="first-factor-selector">
                                    <div class="choose-factor-note"> I would like to practice multiplying each of these</br></div>
                                    <div class="buttons factor-a has-addons">
                                        <span @click="toggleInSet(0, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(0) > -1 }">0</span>
                                        <span @click="toggleInSet(1, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(1) > -1 }">1</span>
                                        <span @click="toggleInSet(2, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(2) > -1 }">2</span>
                                        <span @click="toggleInSet(3, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(3) > -1 }">3</span>
                                        <span @click="toggleInSet(4, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(4) > -1 }">4</span>
                                        <span @click="toggleInSet(5, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(5) > -1 }">5</span>
                                        <span @click="toggleInSet(6, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(6) > -1 }">6</span>
                                        <span @click="toggleInSet(7, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(7) > -1 }">7</span>
                                        <span @click="toggleInSet(8, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(8) > -1 }">8</span>
                                        <span @click="toggleInSet(9, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(9) > -1 }">9</span>
                                        <span @click="toggleInSet(10, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(10) > -1 }">10</span>
                                        <span @click="toggleInSet(11, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(11) > -1 }">11</span>
                                        <span @click="toggleInSet(12, setA)" class="button" :class="{ 'is-primary' : setA.indexOf(12) > -1 }">12</span>
                                    </div>
                                </div>
                                        
                                <div class="second-factor-selector">
                                    <div class="choose-factor-note">by each of these</br></div>
                                    <div class="buttons factor-b has-addons">
                                        <span @click="toggleInSet(0, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(0) > -1 }">0</span>
                                        <span @click="toggleInSet(1, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(1) > -1 }">1</span>
                                        <span @click="toggleInSet(2, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(2) > -1 }">2</span>
                                        <span @click="toggleInSet(3, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(3) > -1 }">3</span>
                                        <span @click="toggleInSet(4, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(4) > -1 }">4</span>
                                        <span @click="toggleInSet(5, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(5) > -1 }">5</span>
                                        <span @click="toggleInSet(6, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(6) > -1 }">6</span>
                                        <span @click="toggleInSet(7, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(7) > -1 }">7</span>
                                        <span @click="toggleInSet(8, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(8) > -1 }">8</span>
                                        <span @click="toggleInSet(9, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(9) > -1 }">9</span>
                                        <span @click="toggleInSet(10, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(10) > -1 }">10</span>
                                        <span @click="toggleInSet(11, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(11) > -1 }">11</span>
                                        <span @click="toggleInSet(12, setB)" class="button" :class="{ 'is-primary' : setB.indexOf(12) > -1 }">12</span>
                                    </div>
                                </div>    
                            </div>
                        <!-- </transition> -->
                        <!-- <transition name="fade"> -->
                            <div v-if="mode === 'practice'" class="practice-area">
                                <span class="factor1">{{problems[currProbIndex].factor1}}</span>
                                <span class="times">&times;</span>
                                <span class="factor2">{{problems[currProbIndex].factor2}}</span>  
                                <span class="equals">=</span>
                                <span class="answer">{{problems[currProbIndex].product}}</span>
                                <div class="response">{{responseEmoji}}</div>

                                <div class="controls">
                                    <span @click="indexDown()" class="button indexdown"><</span>
                                    <span @click="indexUp()" class="button indexup">></span>
                                </div>
                            </div>
                        <!-- </transition> -->
                    </div>

                    <div class="column is-2 right-sidebar">
                    </div>
                </div>             
            </div>
        </section>
        <script src="funtimes.js" charset="utf-8"></script>
    </body>
</html>